/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}


/* MAIN */
.container {
    border: 5px solid black;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    padding: 0.5em 0em;
    background-color: wheat;
}

/* Lista */
.lista {
    list-style: none;
    border-top: 2px dashed black;
    font-family: 'Roboto Mono', monospace;
}

.lista li {
    padding: 1em 1.5em;
    background-color: rgb(216, 238, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}

.lista li:not(:last-child) {
    margin-bottom: 1em;
}

.cross {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}

.cross::after {
    content: "\2718";
}

.check {
    color: green;
    font-size: 1.5rem;
    cursor: pointer;
}

.check::after {
    content: "\2713";
}

.testo-sbarrato {
    text-decoration: line-through wavy;
}

/* Sezione utente */
.sezione-utente {
    background-color: darkcyan;
    margin-top: 0rem;
}

.sezione-utente input {
    padding: 0.5em;
    margin: 0.5em;
}

.aggiungi {
    padding: 0.2em 0.8em;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    color: white;
    cursor: pointer;

}